@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap');
:root{
    --primary-color:#f97316;
    --secondary-color:#fdba74;
    --slate:#0f172a;
}

*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Red Hat Display', sans-serif;
}
header{
    background-color: var(--primary-color);
}
nav{
    display: flex;
}
.logo{
    display: flex;
    align-items: center;
    
}
.logo img{
    height: 88px;
    width:88px;
    padding:0px 25px;
}
nav ul{
    height:88px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
nav ul li{
    list-style: none;
    padding: 0 23px;
}
nav ul li a{
     text-decoration: none;
     color:var(--slate);
}
nav ul li a:hover{
    color: var(--secondary-color);
    font-weight: bolder;
}
.search-bar{
   display: flex;
   align-items: center;
   
}
.search-bar input{
    height:25px;
    width:225px;
    border-radius: 0.5rem;
    margin:0 25px
}

.container{
    min-height: calc(100vh - 88px - 12vh);
}



footer{
    height:12vh;
    background-color: var(--primary-color);
    color:var(--slate);
}